papers/*
superchic3.0/*
flat_pt_electron/gen_sim/log/*
flat_pt_electron/gen_sim/error/*
flat_pt_electron/gen_sim/output/*
MC_reconstruction/gen_sim/log/*
MC_reconstruction/gen_sim/error/*
MC_reconstruction/gen_sim/output/*
*/*/jniedzie.cc
caloNoiseStudy/*.root
caloNoiseStudy/getCaloNoiseHistograms
caloNoiseStudy/log/*
caloNoiseStudy/error/*
caloNoiseStudy/output/*
caloNoiseStudy/input_filelist.txt
MC_reconstruction/digi_raw/error/*
MC_reconstruction/digi_raw/log/*
MC_reconstruction/digi_raw/output/*
crab.log
MC_reconstruction/reco/crabConfig.pyc
MC_reconstruction/reco/crab_projects/*
MC_reconstruction/reco/step3_RAW2DIGI_L1Reco_RECO.pyc
