HeavyIonsAnalysis/PhotonAnalysis/test/crab_projects/*
addPixelTrackInfo
*.pyc
papers/*
superchic3.0/*
flat_pt_electron/gen_sim/log/*
flat_pt_electron/gen_sim/error/*
flat_pt_electron/gen_sim/output/*
MC_reconstruction/gen_sim/log/*
MC_reconstruction/gen_sim/error/*
MC_reconstruction/gen_sim/output/*
*/*/jniedzie.cc
caloNoiseStudy/*.root
caloNoiseStudy/getCaloNoiseHistograms
caloNoiseStudy/log/*
caloNoiseStudy/error/*
caloNoiseStudy/output/*
caloNoiseStudy/input_filelist.txt
MC_reconstruction/digi_raw/error/*
MC_reconstruction/digi_raw/log/*
MC_reconstruction/digi_raw/output/*
crab.log
MC_reconstruction/reco_default/crabConfig.pyc
MC_reconstruction/reco_default/crab_projects/*
MC_reconstruction/reco_default/step3_RAW2DIGI_L1Reco_RECO.pyc
MC_reconstruction/reco_modified/crabConfig.pyc
MC_reconstruction/reco_modified/crab_projects/*
MC_reconstruction/reco_modified/step3_RAW2DIGI_L1Reco_RECO.pyc
MC_reconstruction/gen_sim/crab_projects/*
superchic3.03/*
__MACOSX/
generatorsComparison/
generatorsConfigs/input_QED_ALICE.DAT
generatorsConfigs/input_QED_ATLAS.DAT
generatorsConfigs/slight_ALP.in
papersGit/*
sc_qed_events_p0.lhe
starlight3.0/*
superchic3.02/*
convert
analysis/CMakeCache.txt
analysis/CMakeFiles/*
analysis/Makefile
analysis/cmake_install.cmake
analysis/getEfficienciesData
analysis/getEfficienciesMC
analysis/libAnalysis.a
analysis/ntuples/*
xLightByLight.xcodeproj/
analysis/error/*
analysis/jniedzie.cc
analysis/log/*
analysis/output/*
MC_reconstruction/digi_raw/mc_qed_sl/crabConfig.pyc
MC_reconstruction/digi_raw/mc_qed_sl/crab_projects/
MC_reconstruction/digi_raw/mc_qed_sl/step2_DIGI_L1_DIGI2RAW_HLT.pyc
MC_reconstruction/reco_modified/mc_qed_sc/crab_projects/
MC_reconstruction/reco_modified/mc_qed_sl/crab_projects/
MC_reconstruction/reco_modified/mc_qed_sl/step3_RAW2DIGI_L1Reco_RECO.pyc
analysis/getEfficienciesLbL
analysis/getEfficienciesQED
MC_reconstruction/digi_raw/mc_qed_sc/crabConfig.pyc
MC_reconstruction/digi_raw/mc_qed_sc/crab_projects/
MC_reconstruction/digi_raw/mc_qed_sc/step2_DIGI_L1_DIGI2RAW_HLT.pyc
MC_reconstruction/reco_modified/mc_qed_sl/crabConfig.pyc
analysis/prepareShowerShapePlots
analysis/preparePhotonIDplots
analysis/condor/error/
analysis/condor/log/
analysis/condor/output/
analysis/prepareBasicPlots
analysis/prepareElectronIDplots
analysis/ntuples/*
!analysis/ntuples/triggerSelect.C
applySelections
analysis/results/reco_eff_event_displays_Data/*
analysis/results/reco_eff_event_displays_QED_SC/*
generatorsConfigs/input_ee.DAT
generatorsConfigs/input_mumu.DAT
generatorsConfigs/slight_mumu.in
analysis/plots/*
analysis/results/*
mergeLHE/output/
mergeLHE/jniedzie.cc
